/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.carousel-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.carousel-list{
    width: 500px;
    height: 100%;
    display: flex;
    position: relative;
    /* transition: all 0.5s ease-in-out; */
}

.carousel-item{
    width: 500px;
    height: 100%;
    object-fit: cover;
    /* float: left; */
}

.indicator {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
}

.indicator .indicator-item {
    width: 30px;
    height: 2px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.indicator-item.active {
    background: #ffa44f;
}