* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body{
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ff6700;
}

html {
    color: #333;
    min-width: 1226px;
    font: 14px/1.5 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
      'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}

.container {
    min-width: 1226px;
}

/* 导航栏 */
.topnav{
    height: 60px;
    color: #000;
    font-size: 18.4px;
    margin-top: 10px;
}

.topnav-menu {
    color: #000;

}

.topnav-menu .topnav-menu-logo {
    width: 115px;
    height: 40px;
    background: url('../svg/jabra.svg') no-repeat;
    display: block;
}

.topnav-menu .topnav-menu-message{
    display: block;
}
.topnav-menu-message .iconfont{
    font-size: 30px;
    
}
/* video startup */
.main-content {
    position: relative;
}

.topbanner {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 750px;
}

.video-area{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

}

.topbanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.top-banner-intro {
    position: absolute;
    top: 40%;
    z-index: 3;
    margin-left: 10px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    text-align: center;
}

.top-banner-tagline{
    font-size: clamp(4rem, .8155rem + 9.3204vw, 5rem);
    text-align: center;
}

.top-banner-button {
    background-color: #ffd100;
    color: #000;
    border-color: transparent;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    text-align: center;
    font-weight: 700;
    border: 2px solid transparent;
    padding: 0.75rem 3.5rem;
    border-radius: 2rem;
}

.top-banner-button:before{
    position: absolute;
    right: 0;
    /* //transform: translate(-25%, -50%); */
    height: 100%;
    font-size: 1.5rem;
    aspect-ratio: 1;
    z-index: 3;
    /* top: 50%; */
    color: #000;
    transition: all .3s ease;
    transform: translateX(-10px);
}

.top-banner-button::after{
    right: 0;
    content: "";
    display: block;
    top: 0;
    border-radius: 100%;
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color: #ffd100;
}

.top-banner-button:hover {
    background-color:#4f5050;
    color:#fff;
}

.top-banner-button:hover::before{
    transform: translateX(4px);
}

/* search area */
.search-area {
    margin-top: 10px;
    width: 100%;
}

.search-area form {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.search-input-wrap {
    width: 546px;
    display: inline-block;
    height: 44px;
    /* background: red; */
    text-align: start;
}

.search-input {
    display: inline-block;
    height: 16px;
    padding: 12px 16px;
    margin: 0;
    font-size: 16px;
    box-sizing: content-box;
    width: 511px;
    padding-right: 21px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    outline: 0;
}

.search-input:focus {
    border-color: #ffd100;
}

.search-button-wrap {
    display: inline-block;
    text-align: left;
}

.search-button {
    width: 108px;
    height: 44px;
    cursor: pointer;
    padding: 0;
    background: 0 0;
    background-color: #ffd100;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #000;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
}

/* device showcase */

.device-sc {
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.sc-container{
    margin-top: 20px;
}

.sc-item {
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 234px;
    height: 250px;
    text-align: center;
    background-color: #edeeee;
    border-radius: 1rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sc-item img {
    width: 160px;
    height: 160px;
    margin-top: 10px;
}

.sc-item p {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    text-overflow: ellipsis;
}

.sc-top .hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
}

.sc-title .hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
}

.sc-container .hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
}

.sc-item-list .hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
}

.sc-item .hidden {
    opacity: 0;
    width: 0;
    margin-right: 0;
    padding: 0;
    pointer-events: none;
    height: 0;
}

/* footer */
.footer {
    height: 120px;
    text-align: center;
    font-size: 16px;
    padding: 0px 100px;
    position: relative;
}

.footer-scroll {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #f5a803;
    position: absolute;
    left: 5%;
    top: -25px;
    z-index: 10;
    animation: scrollA infinite 20s linear alternate;    
}

.footer-horizonal {
    margin: 24px 0;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5715;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.footer-container img {
    display: inline-block;
}

.footer-copyright {
    font-size: 12px;
}

@keyframes scrollA {
    0% {
        left: 5%;
        transform: rotate(180deg);
    };

    10% {
        left: 5%;
        transform: rotate(270deg);
    }

    20% {
        left: 5%;
        transform: rotate(450deg);
    }

    25% {
        left: 10%;
        transform: rotate(540deg);
    }

    30% {
        left: 20%;
        transform: rotate(720deg);
    }

    35% {
        left: 30%;
        transform: rotate(900deg);
    }

    40% {
        left: 40%;
        transform: rotate(1080deg);
    }

    45% {
        left: 50%;
        transform: rotate(1260deg);
    }

    50% {
        left: 60%;
        transform: rotate(1440deg);
    }

    55% {
        left: 70%;
        transform: rotate(1620deg);
    }

    60% {
        left: 80%;
        transform: rotate(1800deg);
    }

    80% {
        left: 90%;
        transform: rotate(2610deg);
    }

    90% {
        left: 90%;
        transform: rotate(2340deg);
    }

    100% {
        left: 90%;
        transform: rotate(2520deg);
    }
}

/* rm sidebar */
.rm {
    width: 84px;
    position: fixed;
    right: 0;
    bottom: 70px;
    z-index:999;
}

.rm-item {
    width: 100%;
    height: 92px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: none;
    color: #757575;
    text-align: center;
    display: block;
    padding-top: 14px;
    position: relative;
    border-radius: 10%;
}

.rm-item:first-child .rm-to-top{
    border-top: 1px solid #f5f5f5;
}

.rm-to-top {
    margin-top: 18px;
}

.rm-item .iconfont {
    display: block;
    font-size: 30px;
}
/* 弹出层 */
.rm-mention {
    width: 128px;
    padding: 14px;
    position: absolute;
    right: 90px;
    top: 0;
    background: #fff;
    border: 1px solid #f5f5f5;
    display: none;
}

.rm-mention img{
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 20px;
}

.rm-mention p {
    color: #757575;
}

.rm-mention::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-bottom: none;
    top: 30px;
    right: -6px;
    transform: rotate(45deg);
}

.rm-item:hover .rm-mention {
    display: block;
}