.topnav{
    background: #333;
    height: 40px;
    color: #b0b0ba;
    font-size: 12px;
}

.topnav-menu {
    line-height: 40px;

}

.topnav-menu a {
    padding: 0 10px;
    border-right: 1px solid #424242;
}

.topnav-menu li:last-child a {
    border-right: none;
}

.topnav-menu li:first-child a {
    padding-left: 0;
}

.topnav-menu a:hover {
    color: #fff;
}

.topnav-car {
    width: 120px;
    height: 40px;
    background: #424242;
    margin-left: 13px;
    position: relative;
}

.topnav-car .topnav-link {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
}

.topnav-link .iconfont {
    margin-right: 3px;

}

.topnav-detail {
    width: 320px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    display: none;
    border-top: none;
    z-index: 50;
}

.topnav-car:hover .topnav-detail {
    display: block;
}

.topnav-car:hover .topnav-link {
    background: #fff;
}